body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
}

header {
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 40px; /* Avstanden fra streken til headeren */
    width: 100%;
    height: 2px; /* Tykkelsen på streken */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Skyggeeffekten */
}

.topwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar {
    display: flex;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    padding: 15px;
}

.menu a {
    text-decoration: none;
    color: #0F5565;
}

.logo img {
    width: 56px;
}

.logo {
    text-align: center;
    margin-right: 160px;
    width: 200px;
}

.buttonheader, button a {
    background-color: #0F5565;
    text-decoration: none;
    color: white;
    font-size: 16px;
    width: 200px;
    border-radius: 10px;
    border: none;
    padding: 8px;
    margin: 20px;
}

h1, p {
    padding: 20px;
    max-width: 500px;
}

b {
    font-size: 16px;
}

h1 {
    color: #0F5565;
}

img {
    width: 400px;
    padding-left: 10px;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 300px;
}


@media screen and (max-width: 768px) {
    .container {
        height: auto;
    }
    p {
        font-size: 14px;
    }
    b {
        font-size: 16px;
    }
    h1 {
        font-size: 24px;
    }
}